<h1>GetAJob</h1>

<p>
  Hi <%= @company.company_information.name %>, we´re pleased to inform that interest has been shown by <%= @user.user_information.name %> for one of your jobs offerings.
  If you wish to see more please visit getajob.com
</p>


